<h1> Create a new Recipe </h1>
<%= form_for @recipe do |f| %>
<%= f.label :name, "Recipe Name" %>
<%= f.text_field :name %> <br>
<%= f.label :user_id, "User" %>
<%= f.collection_select(:user_id, User.all, :id, :name) %> <br><br>
<%= f.label :ingredient_ids, "Choose ingredients you'd like to add." %> <br>
<%= f.collection_check_boxes(:ingredient_ids, Ingredient.all, :id, :name) %> <br>
<%= f.submit %>
<% end %>
